.accordion__section{
    display: flex;
    flex-direction: column;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}
.accordion:hover, 
.active{
    background-color: #eee;
}

.accordion__title{
    // font-family: $font-regular;
    font-weight: 600;
    font-size: 14px;
}

.accordion__icon{
    margin-left: auto;
    transition: transform 0.6s ease;
}

.rotate{
    transform: rotate(90deg);
}

.accordion__content{
    background-color: transparent;
    overflow: hidden;
    transition: max-height 0.6s ease;
    // max-height: 0;
}

.accordion__text{
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
    // font-family: $font-regular;
}
