.modal{
    // align-items:center;
  
    &-title{
        display: flex;
        justify-content: center;
        // border: 3px solid aqua;
        background: linear-gradient(to right, $violet 15%,$white 55%, $gray);
        div{
            width:100%;
        }
        &__name{
            // border:0;
            // border: 3px solid red;
            // opacity:0.4;
            text-align:center;
            width:100%;
        }
        // margin:0;
        // padding:0;
    }
}
.modal-body{
    // border: 3px solid red;
    // border-radius:0 0 30px;
    // padding: 0;
    background-color: $gray;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // min-height: 70vh;
    div{
        // border: 3px solid greenyellow;
        // margin: 10px 0;
    }
    &__image{
        // border: 3px solid blue;
        margin-bottom:10px;
        img{

            // border: 3px solid purple;
            // width: 300px;
        }
    }
    &__cargo{
        margin: 15px 0;
    }
    &__description{
        // border: 3px solid yellow;
        text-align:justify;
        // margin: 0 80px;
    }
    &__more{
        margin: 20px 0 10px;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        // gap:10px;
        // border: 3px solid green;
    }
}