.proyect{
    // border: 3px solid red;
    padding: 50px 0 0;
    &-container{
        padding: 25px;
    }
    &-card{
        margin: 5px;
        background-color: $gray;
        min-height: 350px;
        border-radius: 40px 30px 0 0;
        &__img{
            // border: 3px solid blue;
            display: flex;
            justify-content: center;
            img{
                // height: 70%;
                width: 70%;
            }
        }
        &-text{
            // border: 3px solid rosybrown;
            &__title{
                text-align:center;
                h3{
                    // border: 3px solid red;
                }
            }
            &__icons{
                display:flex;
                justify-content: space-around;
                margin: 15px 0;
            }
            &__action{
                display: flex;
                // justify-content: space-around;
                padding: 10px 10px 20px;
                gap: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include from(l){
                    flex-direction: row;
                    gap: 0;
                }

                &-vivo{
                    a{
                        // border: 3px solid red;
                        // font-size: 12px;
                        text-decoration: none;
                        // background-color: yellow;
                        border-radius: 30px 0 0 30px;
                        background: linear-gradient(to left, $violet 78%, $gray);
                        color:$white;
                        padding: 4px 7px;
                    }
                    // width: 150px;
                    // width: fit-content;
                    padding: 0;
                    // width: 130px;
                    // border: 3px solid red;
                    // font-weight: lighter;
                    // border-radius: 30px;
                    // @include from(m){
                        //     border-radius: 30px 0 0 30px;
                        // }
                        border: none;
                        // padding: 4px 10px;
                        // border: 1px solid aqua;
                    }
                &-code{
                    a{
                        // border: 3px solid red;
                        text-decoration: none;
                        color:black;
                        background-color: $white;
                        border-radius:0 30px 30px 0;
                        padding: 4px 7px;
                    }
                    padding: 0;

                    // width: 150px;
                    // margin: 0;
                    // border-radius: 30px;
                    // @include from(m){
                    //     border-radius:0 30px 30px 0;
                    // }
                    border: none;
                    // padding: 4px 10px;
                    // color:#5956a8;
                    // border: .5px solid aqua;
                }
            }

        }
    }
}