.experience{
    // border: 3px solid red;
    &-container__slider{
        // border: 3px solid purple;
        padding: 50px 35px;

        .card{
            border: none;
            padding: 10px;
            width: 50px;
            &-body{
                // border: 3px solid green;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &__img{
                    display: flex;
                    justify-content: center;
                    @include from(m){
                        padding: 15px 0 0;
                        width: 100%;
                    }
                    @include from(l){
                        // width: 70%;
                    }
                }
                &__text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h3{
                        // border: 3px solid #00ffff;
                        font-size: 20px;
                        text-align: center;
                        font-weight: bolder;
                        margin-top: 20px;
                    }
                    span{
                        display: flex;
                        // border: 3px solid blue;
                        align-items: center;
                        justify-content: center;
                    }
                    button{
                        display: flex;
                        width: 50%;
                        // border: 3px solid yellow;
                        font-size: 20px;
                        margin: 35px 0;
                        border: none;
                        a{
                            // border: 3px solid yellow;
                            border-bottom: rgb(68, 5, 68) 2px solid;
                            margin-left: 7px;
                            text-decoration: none;
                            color:black;
                        }
                    }
                    background-color: #eee;
                    padding: 0 45px;
                    width: 100%;
                    // border: 1px solid black;
                    border-radius: 20px 60px 5px;
                    @include from(l){
                        width: 70%;
                        height: 400px;
                    }
                    height: 350px;
                }
            }
        }
    }
    
    .slick-prev{
        background-image: url("../../../Img/left.png");
        background-repeat: no-repeat;
        background-position: top;
        left: -40px;
        overflow: hidden;
        height: 80px;
        width: 50px;
        &:hover, &:active, &:focus{
            background-image: url("../../../Img/left.png");
            background-repeat: no-repeat;
            background-position: top;
        } 
    }
    
    .slick-next{
        background-image: url("../../../Img/right.png");
        background-repeat: no-repeat;
        background-position: top;
        right: -20px;
        overflow: hidden;
        height: 80px;
        width: 50px;
        &:hover, &:active, &:focus{
            background-image: url("../../../Img/right.png");
            background-repeat: no-repeat;
            background-position: top;
        } 
    } 
}