@import "../settings/index.scss";
@import "./components/banner.scss";
@import "./components/Acordion.scss";
@import "./components/slider_experience.scss";
@import "./components/flysocial.scss";
@import "./components/proyect.scss";
@import "./components/modal-details.scss";
@import "./components/contact-form.scss";
@import "./layout/Footer.scss";
.know{
    padding-top: 20px;
}
.title-component{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line{
    border-bottom: 4px solid $violet;
    height: 10px;
    margin-bottom: 20px;
    width: 150px;
}
.playlee{
    // border: 3px solid red;
    width:100%;
    // height:auto;
    // // margin:0;
    // padding:0;
    // objet-fit:cover;
}
.header-Max{
    // border: 3px solid yellow;
    // padding: 0;
    display: flex;
    justify-content: center;
    // position: fixed;
    position: fixed;
    width: 100vw;
    // border: 3px solid aqua;
    z-index: 2000;
    background-color: $gray;
}