.footer{
    margin-top: 50px;
    padding: 20px 20px 5px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    img{
        // width: 300px;
    }
    .row{
        margin-bottom: 20px;
    }
    
    &__logo{
        width: 120px;
        border-radius: 50px;
        @include from('m'){
            margin-top: 25px;
        }
        // flex-direction: column;
        // padding: 0 50px;
        // border: 3px solid aqua;
    }
    &__about{
        margin: 40px 0;
        // width: 300px;
        // width: 300px;
        // border: 3px solid purple;
        // justify-content: center;
        // align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        b{
            // padding-top: 30px;
        }
        @include from('m'){
            // border: 3px solid green;
            // margin: 20px 0;
        }
        p{

            // text-align: justify;
        }
    }
    &__img-redes{
        // border: 3px solid purple;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        // :nth-of-type()
        :nth-child(1){
            // border: 3px solid aqua;
            width: 40px;
        }
        :nth-child(2){
            // border: 3px solid aqua;
            width: 45px;
        }
        :nth-child(3){
            // border: 3px solid aqua;
            width: 40px;
        }
        :nth-child(4){
            // border: 3px solid aqua;
            width: 40px;
        }
        :nth-child(5){
            // border: 3px solid aqua;
            width: 40px;
        }
        // transform: rotate(360);
    }
    &__contact{
        // border: 3px solid blue;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span{
            margin-left: 10px;
        }
        :nth-child(1){
            // border: 3px solid green;
        }
        img{
            // border: 3px solid orange;
            width: 30px;
            // -left: 15px;

        }
    }
    background-color: #5956a8;
    color: white;
}