//Colors
$white: white;
$violet: #5956a8;
$violet2: #918fc5;
$gray: #eee;
$red: #FF0031;

$pink: rgb(235, 90, 114);
$blue: #162D5F;
//Fonts
// $font-title :'Unbounded', cursive;
// $font-regular: 'Roboto Mono', monospace;
$font-nm: 'Roboto';